.stats-content {
    margin-top: 50px;

    table {
        width: 100%;
        font-size: 1.1em;
        
        th, td {
            text-align: center;
        }

        th {
            text-transform: uppercase;
        }

        tbody {
            tr:nth-child(odd) {
                background: $gray-900;
            }
        }

        .label {
            &-good {
                color: $green;
            }

            &-bad {
                color: $red;
            }

            &-normal {
                color: $blue;
            }
        }
    }
}