.search-container {
    text-align: center;
    margin-top: 300px;

    .content {
        display: inline-block;
        width: 350px;

        * {
            margin-bottom: 5px;
            width: 100%;
        }
    }
}